<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <main>
        <header>
            <img src="../../public/imagem/ecoacolhe logotipo bg transparente.png" alt="Logo Eco Acolhe">
            <button type="button" id="menu">☰</button>
        </header>

        <section>
            <h1>Recicle hoje transforme vidas amanhã!</h1>
            <p>Recicle, acumule pontos e transforme sustentabilidade em benefícios para você e para a sociedade.</p>
            <img src="../../public/imagem/celular ecoacolhe.png" alt="Mão segurando um celular com o aplicativo Eco Acolhe aberto">
            <a href="cadastro.html">Quero Participar</a>
        </section>
    </main>
</body>
</html>