<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/estilo.css">
    <title>Participe</title>
</head>
<body>
    <main>
    
    <section class="parte-superior">
        <header>
            <button type="button" id="voltar"> 
                &lt; Voltar
            </button>
        </header>

        <section class="imagem-recicladores">
            <img src="../../public/imagem/recicladores.jpg" alt="Pessoas trabalhando com reciclagem">
        </section>
    </section>


        <section class="texto-principal">
            <img class="logo" src="../../public/imagem/ecoacolhe-bg-transparente-folha.png" alt="Logo Eco Acolhe">

            <h1>Reciclar hoje, transformar vidas amanhã</h1>
            <p>Recicle resíduos sólidos e resgate créditos para benefícios para o dia-a-dia!</p>
        <nav>
            <a href="cadastro.html" id="cadastre-se">Cadastre-se</a>
            <a href="login.html" id="log-in">Log In</a>
        </nav>
        </section>
    </main>
</body>
</html>