<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>
<body>

    <main>
        <header>
            <a href="index.html">← Voltar</a>
        </header>

        <section class="titulo">
            <h1>Log In</h1>
            <img src="../../public/imagem/ecoacolhe logotipo bg transparente.png" alt="Logo Eco Acolhe">
        </section>


        <section class="formulario">
            <form>
                <label for="cpf">CPF</label>
                <input type="text" id="cpf" name="cpf" required>

                <label for="senha">Senha</label>
                <input type="password" id="senha" name="senha" required>

                <button type="submit">Entrar</button>

                <p>Não tem uma conta?</p>
                <a href="cadastro.html">Cadastre-se</a>

                <a href="#">Esqueci minha senha</a>
            </form>
        </section>
    </main>
</body>
</html>