<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termos e Condições</title>
</head>
<body>
    <h1>Termos de consentimento</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam quibusdam nihil in reiciendis expedita
       fugiat aliquid, quam optio repellat commodi eum molestias ut perferendis harum iste illo. Quam, eos 
       necessitatibus!</p>

    <h1>Termos de privacidade</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam quibusdam nihil in reiciendis expedita
       fugiat aliquid, quam optio repellat commodi eum molestias ut perferendis harum iste illo. Quam, eos 
       necessitatibus!</p>
</body>
</html>